{% extends "main/base.html" %} {% load static %} {% block title %}About |
DEVELOPER{% endblock title %} {% block content %}

<div class="container">
  <h2 class="text-center" id="_devHaed">About Developer</h2>
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <h2 class="text-center">Hi.. I am Aditya</h2>
      <br />
      <br />
      <h5 class="text-center">Full-Stack Web Developer</h5>
      <p class="text-center">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, a
        obcaecati aliquam quae eius voluptatibus officia! Omnis tenetur modi
        distinctio libero debitis, ratione similique commodi! Placeat
        perferendis nobis quia, harum repudiandae dolor hic possimus? Dolores
        rerum nulla neque hic rem sunt voluptatibus accusantium beatae expedita
        eos perferendis quidem maxime vitae nesciunt ullam, alias maiores ipsa
        inventore! Illo, asperiores recusandae voluptatibus dolor nam labore
        placeat, eum pariatur ad dolores esse veritatis distinctio assumenda
        saepe velit doloribus molestias error soluta explicabo? Assumenda fuga
        quia sunt nesciunt, non amet cumque quasi impedit quae distinctio quam
        id voluptatem dolor in deleniti quibusdam obcaecati natus voluptates a?
        Molestias, sapiente facere.
      </p>
    </div>

    <div class="col-sm-12 col-md-6">
      <img
        src="{% static 'main/img/5.jpg' %}"
        alt=""
        height="550px"
        width="600px"
      />
    </div>
  </div>
</div>

{% endblock content %}
